.flat-table {
  display: block;
  font-family:Lato;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: 100%;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
}

  th {
    background: #2c9646;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  td {
    background: #E0E0E0;
    padding: 20px 30px;
    width:100%;
  }

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

